apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: app-deploy
spec:
  selector:
    matchLabels:
      app: myapp
  replicas: 1
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: 746252170072.dkr.ecr.us-east-1.amazonaws.com/flask-app:platform-based
        ports:
        - containerPort: 5000