apiVersion: v1
kind: Service
metadata:
  name: myapp-svc
  namespace: app-deploy
  labels:
    app: myapp
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 5000
  selector:
    app: myapp
  type: LoadBalancer